
h5{
	text-align:center;
	color:white;
  }
p{
	text-align:justify;
 }
img.img-responsive{
	display:block;
	width:100%;
	border:0px;
	margin:auto;
}
.col-lg-4 col-md-12 col-sm-8 col-xs-12{
	margin:auto;
}
header{
	border:0px;
	margin:0px;
}
