$color_1:black;
$font-family-text: sans-serif;
$font-bold: 500;
$font-size: 19px;


.main {
		color:$color_1;
		font-family:$font-family-text;
		font-weight:$font-bold;
		font-size:$font-size;
		text-align:left;
		position:absolute;
		top:90%;
		right:-5%;
		transform: translate(-20%, 50%);
		}
.image {
		position:relative;
		width:100%;
		display:inline-block;
		}
#map {
        height: 300px;
        width: 100%;
       }
.kontakt{
		margin:0;
		position:absolute;
		bottom:25%;
		right:40%;
		text-align:center;
		> h3{
			color:$color_1;
			}
		}

		

