
$smartphones: "(min-width: 320px) and (max-width: 480px)";
$iPads: "(min-width: 768px) and (max-width: 1024px)";
$des_lap: "(min-width: 1224px)";
$largescreens: "(min-width:1824px)";

@media #{$smartphones} {
	header{
			font-size:12px;
		#navbar > .container{
								padding-right:5px;
						
								}
		.carousel-inner{
					.one, .two, .three{
								background-size:100% 100%!important;
								background-repeat: no-repeat !important;
								width:100%!important;
								height:350px !important;
										}
					.caption{
							top:70px;
						> h1,p{
								font-weight:600;
									}
								}
							}
			}
			
	#services {
				font-size:12px;
				width:100%;
				margin:auto;
				text-align:center;
				
		.sekcija2{
					text-align:center;
			.polje1, .polje2,.polje3{
								margin-right:0px;
								text-align:center;
								width:100%;
							.apear{
									text-align:center;
									font-size:15px;
									
										}
									}
			.tekst1, .tekst2, .tekst3{
							p{
								padding:15px;
								}
										}
					}
		.row {
				padding-left:20px;
				padding-right:20px;
			p{
				padding-left:10px;
				padding-right:10px;
					}
				}
					}
	.sekcija3{
				padding:0px;
				text-align:center;
			.polje4, .polje5 {
					margin-left:0px;
					margin-right: 0px;
					width:100%;
								}
			.tekst4, .tekst5{
							padding:15px;
							font-size:12px;
								}
				}
	#about {
		> .container-fluid {
			> .row > {
				.col-sm-12{
					 background:url('../slike/aboutus.jpg');
					   -webkit-background-size: cover;
					   -moz-background-size: cover;
					   -o-background-size: cover;
					   background-size:100% 100%!important;
					   background-repeat: no-repeat !important;
					   width:100%!important;
					   height:400px !important;
					
				h1{
					margin-top:0px;
					margin-bottom: 10px;
					}
				p{
					font-size:12px;
					}
						}
					}
							}
			}
	#news {
		.posts{
			#slider-container{
				img{
					margin-left: 0px;
					margin-right:0px;
					text-align:center;
					
						}
								}
				}
				}
	#contact {	
				background:url('../slike/contact.png');
				-webkit-background-size: cover;
					   -moz-background-size: cover;
					   -o-background-size: cover;
					   background-size:100% 100%!important;
					   background-repeat: no-repeat !important;
					   width:100%!important;
					   height:500px;
					   
		.main {
				font-size: 12px;
				}
		#forma {
			margin-top:20px;
			textarea {
					width:264px;
					height:150px;
						}
			#email, #name{
					width:130px;
										}
					}
				}
		footer{
			font-size:20px;
			height:30px;
				}
}

@media #{$iPads} {

		header{
			font-size:12px;
		#navbar > .container{
								padding-right:5px;
						
								}
		.carousel-inner{
					.one, .two, .three{
								background-size:100% 100%!important;
								background-repeat: no-repeat !important;
								width:100%!important;
								height:400px !important;
										}
						}
				}
		#services {
				
				width:100%;
				margin:auto;
				text-align:center;
				
		.sekcija2{
					text-align:center;
			.polje1, .polje2,.polje3{
								margin-right:0px;
								text-align:center;
								width:100%;
							.apear{
									text-align:center;
									
										}
									}
					}
		.row {
				padding-left:20px;
				padding-right:20px;
				}
					}
	.sekcija3{
				padding:0px;
				text-align:center;
			.polje4, .polje5 {
					margin-left:0px;
					margin-right: 0px;
					width:100%;
								}
				}
	#about {
		> .container-fluid > .row > .col-sm-12{
			background:url('../slike/aboutus.jpg');
					   -webkit-background-size: cover;
					   -moz-background-size: cover;
					   -o-background-size: cover;
					   background-size:100% 100%!important;
					   background-repeat: no-repeat !important;
					   width:100%!important;
					   height:300px;
			h1{
				margin-top:0px;
				margin-bottom: 10px;
				}
				}
			}
	#news {
		.posts{
			#slider-container{
			width:100%;
				.slider-img{					
					text-align:center;
					
								}
				img{
					margin-left: 0px;
					margin-right:0px;
					text-align:center;
					width:200px;
					
						}
								}
				}
				}
	#contact {	
			font-size:15px;
			background:url('../slike/contact.png');
					   -webkit-background-size: cover;
					   -moz-background-size: cover;
					   -o-background-size: cover;
					   background-size:100% 100%!important;
					   background-repeat: no-repeat !important;
					   width:100%!important;
					   
		#forma {
		margin-bottom:20px;
			textarea {
					width:290px;
						}
					}
		#email, #name{
					width:145px;
						}
				}
	footer{
			font-size:25px;
			height:40px;
			}
}
@media #{$des_lap} {

		.sekcija3{
			padding-left:0px;
			padding-right:0px;
					}
		#about{
		> .container-fluid > .row > .col-sm-12{
				h1{
				margin-bottom:10px;
						}
												}
				
				}
		#contact{
			#email, #name{
						width:139px;
						}
				}
					}
@media #{$largescreens} {
	header{
			.carousel-inner{
					.one, .two, .three{
								background-size:100% 100%!important;
								background-repeat: no-repeat !important;
								width:100%!important;
								
										}
							}
		#navbar{
			.navigation > a{
							font-size:17px;
								}
			.container{
					float:right;
							}
					}
				}
	#services{
			p{
				font-size:18px;
				}
			h2{
				font-size:30px;
				}
				}
	#about{
			> .container-fluid {
			> .row > {
				.col-sm-12{
					 background:url('../slike/aboutus.jpg');
					   background-size:100% 100%!important;
					   background-repeat: no-repeat !important;
					   width:100%!important;
					 p{
						font-size:18px;
							}
							}

						}
							}
			}
	#contact{
				background-size:100% 100%!important;
				background-repeat: no-repeat !important;
				width:100%!important;
			.kontakt{
				p > i{
					font-size:20px;
					}
						}
			.main{
					font-size:18px;
					}
			#forma{
				textarea{
							width:400px;
							}
				#email, #name{
							width:200px;
										}
					}
			}
						}


